<div class="container">
  <div class="text-center">
    <div class="goody_header">
      <div class="goody_header_title"><%= @campaign.title %></div>
      <p class="mb-0"><%= @campaign.claim %></p>
    </div>
    <h1 class="mb-5 mt-5"><%= t('.support_the_project') %></h1>
  </div>

  <div class="row">
    <% @goodies.each do |goody| %>
      <div class="col-sm-6 col-md-4">
        <%= render partial: 'shared/goody', locals: { goody: goody } %>
      </div>
    <% end %>
  </div>
</div>
