<div class="container">

  <h2>Verfication</h2>

  <p>
    You have selected the package <b> <%= @goody.title %> </b>.
  </p>

  <p>
    You hereby acknowledge that you will want to pay <b><%= @goody.price %>CHF</b> for it.
  </p>

  <input type="checkbox" id="agree" />
  <label for="agree">Agree</label>





</div>
