<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">

  <h2><%= t('.success') %></h2>

  <p>
    <%= t('.bought_package') %>
    <b> <%= @goody.title %> </b>.
  </p>

</div>
