# Used during deployment and referenced in `config/deploy.rb`
mattermost:
    production_endpoint: ''
    staging_endpoint: ''

# Local settings for runtime. On a server this would go in `config/settings/`
mattermost_channel: 'crowdfunding-test'
mattermost_endpoint: ''

mail:
  from_address: 'rails@example.com'
exception:
  sender_address: '"swiss crowdfunder exception" <rails@example.com>'
  exception_recipients: "u1@example.com u2@example.com"
