<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box">
    <div class="top_section_v2">
      <h1><%= t('.about_us') %></h1>
      <hr>
    </div>
    <div class="text-center mt-5">
      Empty About US page.
      <br>
      <strong>TODO: Create content and styling.</strong>
    </div>
  </div>
</div>