<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box">
    <div class="top_section_v2">
      <h1><%= t('.terms_of_service') %></h1>
      <p class="title_sub">Valid from 11 November 2017, v1.0</p>
      <hr>
    </div>

    <div class="mt-5 ol_nested">
      <ol>
        <li class="heading">
          <h2 class="heading_text">General</h2>
          <p>
            Please read these Terms of Service ('Terms', 'Terms of
            Service') carefully before using the Swiss Crowdfunder
            website or related applications (the 'Service') which are
            operated by ungleich glarus ag.
          </p>

          <p>
            Your access to and use of the Service is conditioned on your
            acceptance of and compliance with these Terms. These Terms
            apply to all visitors, users and others who access or use
            the Service. By accessing or using the Service you agree to
            be bound by these Terms. If you disagree with any part of
            the terms then you may not access the Service.
          </p>
        </li>
        <li class="heading">
          <h2 class="heading_text">Privacy Policy</h2>
          <p>
          ungleich glarus ag respects the privacy of its Service
            users. Please refer to the Company’s

            <%= link_to " Privacy Policy ", static_privacy_policy_path, class: "qa-privacy-policy" %>

          which explains how we collect, use, and disclose
          information that pertains to your privacy. When you
          access or use the Service, you signify your agreement
          to this Privacy Policy.
          </p>
        </li>
        <li class="heading">
          <h2 class="heading_text">Exclusion of Warranties</h2>
          <p>
          We do not express any warranties regarding the
          Swiss Crowdfunder or the associated mobile
          applications in relation to the information,
          materials and user content provided to us.
          </p>
        </li>
        <li class="heading">
          <h2 class="heading_text">Termination</h2>
          <p>
            We may terminate or suspend access to
            our Service immediately, without prior
            notice or liability, for any reason
            whatsoever, including without
            limitation if you breach the Terms.
          </p>

          <p>
            All provisions of the Terms which by their nature should survive
            termination shall survive termination, including, without limitation,
            ownership provisions, warranty disclaimers, indemnity and limitations
            of liability.
          </p>
        </li>


        <li class="heading">
          <h2 class="heading_text">Links to other web sites</h2>
          <p>
            Our Service may contain links to third­party web sites or
            services that are not owned or controlled by ungleich glarus ag.
          </p>

          <p>
            ungleich glarus ag has no control over, and assumes no responsibility
            for, the content, privacy policies, or practices of any third
            party web sites or services. You further acknowledge and agree
            that ungleich glarus ag shall not be responsible or liable, directly
            or indirectly, for any damage or loss caused or alleged to be
            caused by or in connection with use of or reliance on any such
            content, goods or services available on or through any such
            web sites or services.
          </p>

          <p>We strongly advise you to read the terms and conditions and
            privacy policies of any third­party web sites or services that
            you visit</p>
        </li>


        <li class="heading">
          <h2 class="heading_text">Governing Law</h2>
          <p>These Terms shall be governed and construed in accordance
          with the laws of Switzerland, without regard to its conflict
          of law provisions.</p>

          <p>Our failure to enforce any right or provision of these
          Terms will not be considered a waiver of those rights. If
          any provision of these Terms is held to be invalid or
          unenforceable by a court, the remaining provisions of these
          Terms will remain in effect. These Terms constitute the
          entire agreement between us regarding our Service, and
          supersede and replace any prior agreements we might have
          between us regarding the Service.</p>


        </li>

        <li class="heading">
          <h2 class="heading_text">Changes</h2>
          <p>We reserve the right, at our sole discretion, to modify
          or replace these Terms at any time. If a revision is
          material we will try to provide at least 10 days notice
          prior to any new terms taking effect. What constitutes a
          material change will be determined at our sole
          discretion.</p>

          <p>By continuing to access or use our Service after those
          revisions become effective, you agree to be bound by the
          revised terms. If you do not agree to the new terms, please
          stop using the Service.</p>
        </li>

        <li class="heading">
          <h2 class="heading_text">Contact us</h2>
          <p>If you have any questions about these Terms,
            <%= link_to "please contact us", static_about_us_path %>
            .
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
