<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box">
    <div class="top_section_v2">
      <h1><%= t('.terms_of_service') %></h1>
      <p class="title_sub">Valid from 28 October 2017, v1.0 dated 28 October 2017</p>
      <hr>
    </div>

    <div class="mt-5 ol_nested">
      <ol>
        <li class="heading">
          <h2 class="heading_text">Test Text</h2>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </li>
            <li>
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </li>
          </ol>
        </li>
        <li class="heading">
          <h2 class="heading_text">Test Text</h2>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </li>
            <li>
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>