<div id="not_found">
  <div class="container jumbotron">
  <h1>404</h1>

  <h4><%= t('.page_not_found_1') %></h4>

  <hr/>

  <p><%= t('.page_not_found_2') %></p>
  <p><%= raw t('.page_not_found_3') %></p>
</div>
</div>
