<% content_for :main_content_class do %>bg_grey<% end %>

<div class="container">
  <div class="mid_box text-center">
    <h1>404</h1>
    <h2><%= t('.page_not_found_1') %></h2>
    <hr>
    <p>
      <%= t('.page_not_found_2') %>
      <br>
      <%= raw t('.page_not_found_3') %>
    </p>
  </div>
</div>