/*
 * This is the manifest file for /static/countdown
 *
 *= require_self
 */

html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('/count-down.jpg');
  align-items: center;
  justify-content: center
}

.flip-clock-wrapper {
    width: auto;
}

.flip-clock-divider {

    .flip-clock-label {
        width: 160px;
        right: auto;
        font-family: 'Open Sans Condensed';
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.075rem;
    }
}

.flip-clock-divider.minutes, .flip-clock-divider.seconds {
    .flip-clock-label {
        right: auto;
    }
}

.flip-clock-divider.days {
    .flip-clock-label {
        width: 140px;
    }
}

.flip-clock-wrapper ul li a div div.inn {
    background-color: #111822;
}

.flip-clock-dot {
    background-color: #444;
}