 <h1 class="cover-heading">Glarner Crowdfunding</h1>
 <p class="lead">Featuring the best projects!</p>

 <div class="row campaign center-block mt-5">
   <%- if !@campaigns %>
     There are no campaigns currently featured.
   <%- end %>
   <% @campaigns.each do |campaign| %>
     <div>
       <h2>
         <%= campaign.title %>
       </h2>
       <h4>
         <%= campaign.claim %>
       </h4>
       <p class="lead">
         <a href="<%= campaign_path(campaign)%>"
            class="btn btn-lg btn-secondary">
           Learn more
         </a>
       </p>
     </div>
   <% end %>
 </div>
