/* styles for the campaign page only */
.campaign_links {

  .btn_card {
    font-size: 70%;

    .fa {
      font-size: 85%;
    }
  }

  ul {
    display: flex;
    margin: 0.5em 0 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    font-size: 1.25em;

    li {
      margin-left: 1em;
    }
  }

  .link_block {
    font-size: 1.2em;
    line-height: 2.75em;
    padding: 0 0.4em;
    color: #5B5A5A;
    display: block;
    text-align: center;
  }
}

.campaign_body {
  padding-left: 0.2em;

  h2 {
    font-size: 1.75rem;
    color: #5B5A5A;
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-weight: 300;
  }

  h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.75em;
  }

  article {
    color: #5b5a5a;
  }

  aside h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
}

.funding_goal {
  color: #5B5A5A;
  font-size: 1.4em;
  color: #999;
}


.campaign_stat {
  color: #1b1a1a;

  & > .number {
    flex: 1;
    text-align: right;
    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
  }
}

.campaign_date {
  color: #777;
}

.btn_theme {
  white-space: normal;
}