#not_found {
  text-align: center;
  background-color: #ddd;

  h1 {
    color: red;
    font-size: 12em;
    font-weight: bold;
  }

  a {
    color: red;
  }

  .jumbotron {
    border: 2px solid black;
    background-color: white;
  }
}
