.errors-not_found {

  .main_content {

    a {
      color: #dc0d0d;
    }

    hr {
      width: 30%;
      margin: 1.5rem auto;
    }
  }

  h1 {
    color: #ea5d5d;
    font-size: 8em;
    font-weight: normal;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 300;
  }
}
